<DOCTYPE! html>
<html>
    <head>
        	<meta charset="utf-8">
        <title>Cho Mon Restaurant</title>
    </head>
    <script type ="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type ="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.js"></script>
    <script type ="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type ="text/javascript" src="../public/js/sidebar.js"></script>
    

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/home.css">
    <link rel="stylesheet" type="text/css" href="../public/css/reviews.css">
    <link rel="stylesheet" type="text/css" href="../public/css/groupbookings.css">
    <link rel="stylesheet" type="text/css" href="../public/css/cookingclasses.css">



    <body>
			<nav class="navbar navbar-default navbar-fixed-top">
			    <div class="container-fluid">
			          <div class="navbar-header">
			              
			              <a class="navbar-brand" href="https://www.facebook.com/chonmon.alacarte?fref=ts"><img class="social-media-button" src="../public/images/fb.png"></i></a>
			                                    
			              <a class="navbar-brand" href="https://www.tripadvisor.com.au/Restaurant_Review-g298082-d7622578-Reviews-Chon_Mon_A_La_Carte-Hoi_An_Quang_Nam_Province.html"><img class="social-media-button" src="../public/images/trip.jpg"></a>

			          </div>

			                                    
			          <ul class="nav navbar-nav navbar-right">

			              <li><a href="../index.html">Home</a></li>             
			              <li><a href="./groupbookings.html">Group Bookings</a></li>
			              <li><a href="./cookingclasses.html">Cooking Classes</a></li> 
			              <li><a href="./reviews.html">Reviews</a></li>
			              <li><a href="./contact.html">Location and Directions</a></li>
			          </ul>
			    </div>    
			</nav>

	        <div id = "image">
<div class="container">
	<div class="jumbotron reviewsjumbotron">
		<h1>Booking an Event</h1>
		<div class="row">

				<div class="col-md-5">
					<img id="bookingimage" src="../public/images/booking.jpg">
				</div>
				<div class="col-md-7">
						<h5>Are you planning an event? Chon Mon Restaurant & Bar offers a range of options perfect for groups of 4 to 40. From corporate dinners, wedding parties, tour groups, private receptions or gala events, Chon Mon Restaurant & Bar’s team is fully versed in working through your plans and building menus to please and satisfy your guests while staying on budget.</h5>

						<h5>Within our restaurant, Chon Mon Restaurant can provide a private Dining Room which is ideal for smaller groups of up to 40 guests, great for corporate dinners and tour groups. With stunning views of Old Hoi An and Song Hoai River!</h5>

						<h5>Contact us: 0919 76 86 70</h5>
						<h5>Or send us an email</h5>
				</div>
		
		<form action ="mailto:alacarte.ha@gmail.com" method = "POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="image" placeholder="number of people">
                </div>
                <div class="form-group">
                    <input class="form-control description" type="text" name="What is the event?" placeholder="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Send</button> 
                </div>
            </form>
	</div>
</div>


		    </div>
		</div>
    </body>
<html>
