<DOCTYPE! html>
<html>
    <head>
        	<meta charset="utf-8">
        <title>Cho Mon Restaurant</title>
    </head>
    <script type ="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type ="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.js"></script>
    <script type ="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type ="text/javascript" src="../public/js/sidebar.js"></script>
    

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/home.css">
    <link rel="stylesheet" type="text/css" href="../public/css/reviews.css">
    <link rel="stylesheet" type="text/css" href="../public/css/groupbookings.css">
    <link rel="stylesheet" type="text/css" href="../public/css/cookingclasses.css">



    <body>
			<nav class="navbar navbar-default navbar-fixed-top">
			    <div class="container-fluid">
			          <div class="navbar-header">
			              
			              <a class="navbar-brand" href="https://www.facebook.com/chonmon.alacarte?fref=ts"><img class="social-media-button" src="../public/images/fb.png"></i></a>
			                                    
			              <a class="navbar-brand" href="https://www.tripadvisor.com.au/Restaurant_Review-g298082-d7622578-Reviews-Chon_Mon_A_La_Carte-Hoi_An_Quang_Nam_Province.html"><img class="social-media-button" src="../public/images/trip.jpg"></a>

			          </div>

			                                    
			          <ul class="nav navbar-nav navbar-right">

			              <li><a href="../index.html">Home</a></li>             
			              <li><a href="./groupbooking.html">Group Bookings</a></li>
			              <li><a href="./cookingclasses.html">Cooking Classes</a></li> 
			              <li><a href="./reviews.html">Reviews</a></li>
			              <li><a href="./contact.html">Location and Directions</a></li>
			          </ul>
			    </div>    
			</nav>

	        <div id = "image">
<div class="container">
	<div class="jumbotron reviewsjumbotron text-center">
		<h3>Located on the river, Chon Mon Restaurant & Bar is rapidly becoming one of Hoi An's great casual dining establishments. With classical views of the old quarters of Hoi An,  Chon Mon offers guests great restaurant quality Vietnamese street food and local dishes, as well as home cooked western food options and children menus. Why not enjoy our casual setting with a cold beer or freshly made cocktails. Just sit back, enjoy the view and relax, Chon Mon is what Vietnam is all about!</h3>

		<h3>Here is what people had to say!</h3>



		<h5>“The best fried spring rolls ever! Had three meals here in our four day stay in Hoi An. Ordered a different variety of their Vietnamese offerings and shared them. All fresh and delicious. Great sitting out front people watching. The young staff are attentive and fun, and greeted us as old friends when we returned” – <b>Monica B</b></h5>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>

		<h5>“Made it a habit to visit this family owned provider of great food at least once a week during our 3 month stay in Hoi An. Never left either disappointed or hungry - and best of all, at a very reasonable cost”. – <b>George W</b></h5>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>

		<h5>“We visited with 2 kids aged 11 and 13 . Great food very clean fresh flavours. Cool and nice outlook. Beers very cheap 20000 each. Staff polite and helpful. Would visit again . Restaurants on this side of town across the river are cheaper than in the heart of the old town and much better food but still within the old town boundaries. Dinner and drinks including around 6 dishes and three desserts and four drinks $. 40 Nz cheap as!”– <b>Simona U</b></h5>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>

		<h5>“Good prices, nice staff and good food. They had best bun bo I had in Vietnam, really great meal! The place is also centrally located in Hoi An, just across the bridge from the crowded Ancient Town.”- <b>Sigurd K</b></h5>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>

		<h5>“It is located along the riverbank. this resto serves good local food at very reasonable prices. the prices at this place is very much cheaper then resto's nearby. service is good and staff are attentive. nice place for some local food.” – <b>Jeff</b></h5>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>

		<h5>“Was strolling around after a good massage at Honey Massage & Spa (surprisingly they are not listed in TripAdvisor) and found this place. There was a caucasian couple in here earlier. I ordered my quang without chicken (i know it's just inpossible) but they managed to come up with one that is equally delicious. The chicken was substituted with tofu. I'm happy. Finished the whole bowl. Now I'm trying their steamed banana with caramelised butter sauce & seem-like lime ice cream. Sweet ending for a lovely meal. The waitress is very polite. Love the ambience. Sitting at the first table...I'm people-watching while eating. Lovely place facing the river.” - <b>Khairil R</b></h5>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>

		<h5>“Best food in Hoi An. Service great. Familes with young, fussy eaters filled the place at lunchtime. Well done on the tasty well presented meals!” –<b>A.S.</b></h5>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>


		<h5>“An exceptional meal and at a very good price. Vietnamese food and some western food. Best meal yet. Situated on the river with great views, very attentive and polite staff.” – <b>Eva O</b></h5>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
	</div>
</div>





		    </div>
		</div>
    </body>
<html>